on:
  pull_request:
  push:
    branches: [main]
jobs:
  flake-check:
    strategy:
      matrix:
        checker: ["./"]
        target: ["./", "./templates/success"]
        include:
          - checker: "./templates/dendritic/checkmate"
            target: "./templates/dendritic"
    name: flake check ${{matrix.dir}}
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v30
      - run: nix flake check -L github:$GITHUB_REPOSITORY/$GITHUB_SHA?dir=${{matrix.checker}} --override-input target github:$GITHUB_REPOSITORY/$GITHUB_SHA?dir=${{matrix.target}}
